*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Se agregan ajustes a los ignore propios de maven
.project
.settings/
.classpath
.metadata/
Servers/
#ignoramos los archivos de pruebas
test-output/
#ignoramos archivos recomenders
.recommenders/