<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">	
  <display-name>ClaroClub</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <env-entry>
    <env-entry-name>database.schema</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>SERTECAPP.</env-entry-value>
  </env-entry> 
  <env-entry>
    <env-entry-name>database.schema.gap</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>gapapp.</env-entry-value>
  </env-entry>
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>claroClub</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ImpresionConstanciasServlet</servlet-name>
    <servlet-class>ImpresionConstanciasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportePerfilesServlet</servlet-name>
  	<servlet-class>ReportePerfilesServlet</servlet-class>
  </servlet>
  <jsp-config>
    <taglib>
      <taglib-uri>/spring</taglib-uri>
      <taglib-location>/WEB-INF/spring.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/permisos</taglib-uri>
      <taglib-location>/WEB-INF/permisos.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>claroClub</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImpresionConstanciasServlet</servlet-name>
    <url-pattern>*.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImpresionConstanciasServlet</servlet-name>
    <url-pattern>/jsp-content/ConstanciaRedencion.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportePerfilesServlet</servlet-name>
  	<url-pattern>/jsp-content/Perfiles.pdf</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>  

  <context-param>
	    <param-name>contextConfigLocation</param-name>
	    	<param-value>
			/WEB-INF/claroClub-catalogos.xml 
			/WEB-INF/claroClub-servlet.xml 			    
			</param-value>
	</context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>claroclub.root</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>

  <ejb-local-ref>
    <description></description>
    <ejb-ref-name>ejb/com/claro/ejb/CirculoAzul</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>com.claro.ejb.CirculoAzulLocalHome</local-home>
    <local>com.claro.ejb.CirculoAzulLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
  	<description></description>
  	<ejb-ref-name>ejb/CirculoAzulBean</ejb-ref-name>
  	<ejb-ref-type>Session</ejb-ref-type>
  	<local-home>com.claro.ejb.CirculoAzulLocalHome</local-home>
  	<local>com.claro.ejb.CirculoAzulLocal</local>
  	<ejb-link>CirculoAzulBean</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
  	<description></description>
  	<ejb-ref-name>ejb/com/claro/ejb/ProcesaCatalogos</ejb-ref-name>
  	<ejb-ref-type>Session</ejb-ref-type>
  	<local-home>com.claro.ejb.ProcesaCatalogosLocalHome</local-home>
  	<local>com.claro.ejb.ProcesaCatalogosLocal</local>
  	<ejb-link>ProcesaCatalogos</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
  	<description>
  	</description>
  	<ejb-ref-name>ejb/ClaroClub</ejb-ref-name>
  	<ejb-ref-type>Session</ejb-ref-type>
  	<local-home>com.claro.ejb.ClaroClubLocalHome</local-home>
  	<local>com.claro.ejb.ClaroClubLocal</local>
  	<ejb-link>ClaroClub</ejb-link>
  </ejb-local-ref>
</web-app>