<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="ClaroSessionFactory">
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.password">CERTREG159</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.194.158:1524:COM38DV</property>
		<property name="hibernate.connection.username">CERTREG</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">CERTREG</property>

		<mapping class="com.claro.gml.persistence.model.RelacionPerfiles" />
		<mapping class="com.claro.gml.persistence.model.Catpermiso" />
		<mapping class="com.claro.gml.persistence.model.Listavalores" />
		<mapping class="com.claro.gml.persistence.model.Catarea" />
		<mapping class="com.claro.gml.persistence.model.Catsesporadico" />
		<mapping class="com.claro.gml.persistence.model.Catstatus" />
		<mapping class="com.claro.gml.persistence.model.Catsegmentos" />
		<mapping class="com.claro.gml.persistence.model.Catsesporadicocondpago" />
		<mapping class="com.claro.gml.persistence.model.Catproductomarca" />
		<mapping class="com.claro.gml.persistence.model.Catestatus" />
		<mapping class="com.claro.gml.persistence.model.Catsmarca" />
		<mapping class="com.claro.gml.persistence.model.CcCtltipoestatuscert" />
		<mapping class="com.claro.gml.persistence.model.Relacionmarcascsa" />
		<mapping class="com.claro.gml.persistence.model.Catincumplimiento" />
		<mapping class="com.claro.gml.persistence.model.Foliosmasivos" />
		<mapping class="com.claro.gml.persistence.model.Catstipoproducto" />
		<mapping class="com.claro.gml.persistence.model.Catsmotivo" />
		<mapping class="com.claro.gml.persistence.model.Catusuario" />
		<mapping class="com.claro.gml.persistence.model.Catcsa" />
		<mapping class="com.claro.gml.persistence.model.Catamotivo" />
		<mapping class="com.claro.gml.persistence.model.Cattipomovimiento" />
		<mapping class="com.claro.gml.persistence.model.Clavessap" />
		<mapping class="com.claro.gml.persistence.model.Catdistribuidor" />
		<mapping class="com.claro.gml.persistence.model.Catfalla" />
		<mapping class="com.claro.gml.persistence.model.Catscondicionpago" />
		<mapping class="com.claro.gml.persistence.model.Diagnostico" />
		<mapping class="com.claro.gml.persistence.model.Catsalmacen" />
		<mapping class="com.claro.gml.persistence.model.Setting" />
		<mapping class="com.claro.gml.persistence.model.Histestatus" />
		<mapping class="com.claro.gml.persistence.model.PtoCtlpuntosvta" />
		<mapping class="com.claro.gml.persistence.model.Catproducto" />
		<mapping class="com.claro.gml.persistence.model.Catsmaterial" />
		<mapping class="com.claro.gml.persistence.model.CcTblcertificado" />
		<mapping class="com.claro.gml.persistence.model.Asignamarcasproveedor" />
		<mapping class="com.claro.gml.persistence.model.Auditoria" />
		<mapping class="com.claro.gml.persistence.model.Cataciudad" />
		<mapping class="com.claro.gml.persistence.model.Catpreguntas" />
		<mapping class="com.claro.gml.persistence.model.Proveedorprincipal" />
		<mapping class="com.claro.gml.persistence.model.PtoCtlpantallaCa" />
		<mapping class="com.claro.gml.persistence.model.Flujos" />
		<mapping class="com.claro.gml.persistence.model.PtoCtlperfilCa" />
		<mapping class="com.claro.gml.persistence.model.Catsoficinadeventas" />
		<mapping class="com.claro.gml.persistence.model.Oficinadeventaalmacen" />
		<mapping class="com.claro.gml.persistence.model.Reparacion" />
		<mapping class="com.claro.gml.persistence.model.Catdiasfestivos" />
		<mapping class="com.claro.gml.persistence.model.Estatuspermiso" />
		<mapping class="com.claro.gml.persistence.model.Seguimientogarantiaacc" />
		<mapping class="com.claro.gml.persistence.model.Catestatuskiosko" />
		<mapping class="com.claro.gml.persistence.model.Equipodeprestamo" />
		<mapping class="com.claro.gml.persistence.model.Catsestado" />
		<mapping class="com.claro.gml.persistence.model.Catgrupocalificado" />
		<mapping class="com.claro.gml.persistence.model.CcTbltarjetacertificado" />
		<mapping class="com.claro.gml.persistence.model.ClLotesCertificados" />
		<mapping class="com.claro.gml.persistence.model.Folios" />
		<mapping class="com.claro.gml.persistence.model.PtoCtlperfiln" />
		<mapping class="com.claro.gml.persistence.model.Asignamarcascsa" />
		<mapping class="com.claro.gml.persistence.model.Foliogenerico" />
		<mapping class="com.claro.gml.persistence.model.CcCtlusuarios" />
		<mapping class="com.claro.gml.persistence.model.Evaluacion" />
		<mapping class="com.claro.gml.persistence.model.Catsubpreguntas" />
		<mapping class="com.claro.gml.persistence.model.CcTblmovimientocertificado" />
		<mapping class="com.claro.gml.persistence.model.Esporadicooficinadeventa" />
		<mapping class="com.claro.gml.persistence.model.ClUsuariosCertificados" />
		<mapping class="com.claro.gml.persistence.model.PtoCtlusuarios" />
		<mapping class="com.claro.gml.persistence.model.Respuestas" />
		<mapping class="com.claro.gml.persistence.model.Comentarios" />
		<mapping class="com.claro.gml.persistence.model.Areagrupo" />
		<mapping class="com.claro.gml.persistence.model.Catsplanes" />
		<mapping class="com.claro.gml.persistence.model.Catatipoventa" />
		<mapping class="com.claro.gml.persistence.model.Catstipomaterial" />
		<mapping class="com.claro.gml.persistence.model.Medicionservicios" />
		<mapping class="com.claro.gml.persistence.model.Seguimientogarantia" />
		<mapping class="com.claro.gml.persistence.model.Usuariogrupocalificado" />
		<mapping class="com.claro.gml.persistence.model.CcCtltipomovimiento" />
		<mapping class="com.claro.gml.persistence.model.Diasreparacionmarca" />
		<mapping class="com.claro.gml.persistence.model.Catgrupo" />
		<mapping class="com.claro.gml.persistence.model.Catambito" />
		<mapping class="com.claro.gml.persistence.model.Catscategorias" />
		<mapping class="com.claro.gml.persistence.model.Catspais" />
		<mapping class="com.claro.gml.persistence.model.Grupopermiso" />
		<mapping class="com.claro.gml.persistence.model.Catproveedor" />
		<mapping class="com.claro.gml.persistence.model.Catrefacciones" />
		<mapping class="com.claro.gml.persistence.model.PtoCtlprocesos" />
		<mapping class="com.claro.gml.persistence.model.Catinterfaz" />
		<mapping class="com.claro.gml.persistence.model.Catmotivocita" />
		<mapping class="com.claro.gml.persistence.model.Histcveoficinadeventas" />
		<mapping class="com.claro.gml.persistence.model.Catestatusprestamo" />
		<mapping class="com.claro.gml.persistence.model.Catsproveedor" />
		<mapping class="com.claro.gml.persistence.model.Marcacsa" />


	</session-factory>
</hibernate-configuration>
