<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Archivo de configuracion del hibernate -->

		<!-- propiedades del dbms -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>

		<!-- propiedades del hibernate -->

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.auto_close_session">true</property>

		<property name="hibernate.max_fetch_depth">3</property>
		<property name="hibernate.default_batch_fetch_size">8</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
		<property name="hibernate.search.autoregister_listeners">false</property>

	</session-factory>

</hibernate-configuration>
