<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true"> <!-- This will give you some valuable info about logback config upon runtime. 
		Remove this for production. -->

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %X{transactionId} %contextName %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>
	
	<!-- 
	<appender name="appTest"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/app.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                            <maxFileSize>50MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                   <pattern>%d{HH:mm:ss.SSS} [%-5level] - %-20(%10logger{0}:%L) %msg%n</pattern>
            </layout>
	</appender>

	<logger name="mx.omnitracs.maya" level="INFO">
		<appender-ref ref="app"></appender-ref>
	</logger>
-->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
